
<div class="container-fluid vh-10 " id="modal" style="background-color:black;box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);">
      
      <button style ="color: rgb(14, 13, 13);"type="button" #closebutton class="close" data-dismiss="modal" (click)="closemodal()">&times;</button>
   
    
    <div style ="background-color: rgba(57, 58, 58, 0.8);padding: 4%;border-radius: 150%;"class="d-flex flex-column align-items-center">
       <div class="p-1">
          <video #video class="vid" autoplay  style ="border-radius: 10%; border:1px solid #000;box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);"></video>
       </div>
       <br>
       <div class="pb-2">
          <button   style="width: 250px;color: white;" type ="submit"class="btn btn-warning"(click)="capture()">Capture & Upload Image </button>
       </div>
       <div class="p-1">
          <canvas #canvas class="vid" style ="border-radius: 10%; border:1px solid #000;box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);"></canvas>
       </div>
       <br>
       <div class="pb-2">
           <button   style="width: 250px;" type ="submit"class="btn btn-danger" (click)="report()">Report Accident</button>
       </div>
    </div>
 </div>